import init.recovery.qcom_decrypt.rc

on init
    insmod /sbin/texfat.ko

    start qcom-usb-sh

on fs
    wait /dev/block/bootdevice/by-name/factory
    mkdir /factory 0755
    mount ext4 /dev/block/bootdevice/by-name/factory /factory ro nodev nosuid
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
